@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.todoListMain{
    color: #FFF;
    background-color: #191928;
    min-height: 100%;
    min-width: 100%; 
    max-width: 100%;
    max-height: 100%;
    margin: auto;    
    text-align: left;
    overflow: auto;
    position: fixed;
    padding: 14px;
}

.todoListMain .body-app{
    min-width: 100%;
    min-height: 100%;

}

.todoListMain .body-app .menu div{
    width: 21px;
    height: 2px;
    background-color: #FFF;
    margin: 5px 0;
}

.todoListMain .body-app .menu input{
    outline: none;
    background-color: #72727275;
    border-radius: 10px;
    border: none;
    width: calc(100% - 84px);
    height: 50px;    
    padding-left: 56px;
    color: #FFF;
}

.todoListMain .header input{
    position: fixed;
    bottom: 80px;
    outline: none;
    background-color: #72727275;
    border-radius: 10px;
    border: none;
    width: calc(100% - 84px);
    height: 50px;    
    padding-left: 56px;
    color: #FFF;
}

.todoListMain .header input::placeholder{
    color: #727272;
}

.todoListMain .header .footer-button{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px; 
    background: linear-gradient(0deg, rgba(25,25,40,1) 44%, rgba(255,255,255,0) 100%);
}

.todoListMain .header .footer-button button{
    margin-top: 28px;
    width: calc(100% - 28px);
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    border: none;    
    background-color: #00A8B0;        
    color: #FFF;
    font-weight: 600; 
    position: 0px;
}


.todoListMain .header button:hover{
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #0066ff;
}

.todoListMain .theList .todo li{
    color: #FFF;
    padding: 15px;
    margin-bottom: 0px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2 ease-out;
}

.todoListMain .theList .todo li:hover{
    cursor: pointer;
}

ul.theList{
    padding: 0;
}

ul.theList .flip .todo {
    outline: none;
    background-color: #72727275;
    border-radius: 10px;
    border: none;
    width: 96.5%;
    height: 50px;        
    color: #FFF;    
    display: flex;
    margin-top: 14px;
}

ul.theList .flip .todo .mark{
    cursor: pointer;
    margin-left: 14px;
    margin-right: 14px;
    width: 15px;
    height: 15px;
    border: 2px solid #3a9eff;
    border-radius: 50%;
    display:  inline-block;
    margin-bottom: auto;
    margin-top: auto;
}


.todoListMain .footer button{
    position: fixed;
    bottom: 140px;
    margin-top: 28px;
    width: calc(100% - 28px);
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    border: none;    
    background-color: red;        
    color: #FFF;
    font-weight: 600; 
    padding-left: 14px;
    padding-right: 14px;
}

.todoListMain .footer button:hover{
    background-color: darkred;
    border: 2px solid darkred;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px red;
}